body {
    background-image: url('https://i.pinimg.com/564x/ae/41/f2/ae41f242a9516d7bd234cc5a7bd097d7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
}
